.section-bingo--animation {
    position: absolute;

    img {
        position: absolute;
    }

    h1 {
        position: absolute;
        opacity: 0;
    }

    &--active {
        transition: all .4s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(221 101 101);

        img {
            position: absolute;
            width: 500px;
            visibility: visible !important;
        }

        h1 {
            position: absolute;
            font-size: 9rem;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            transition: opacity .4s ease-in-out;
            opacity: 0;
        }
        
        table {
            visibility: hidden;
        }
    }
}