.section-bingo {
    table {
        th {
            height: 3rem;
        }
        
        td {
            width: 14rem;
            height: 12rem;
            max-width: 14rem;
            max-height: 12rem;
            border: 3px solid $black;
            padding: 0;
            line-break: normal;

            p {
                font-size: 2rem;
                outline: none;
            }

            .bingo-box-multi {
                --bs-gutter-x: 0;
                
                margin-bottom: -17px;

                &--item {
                    width: calc(100% / 3);
                    height: 4rem;
                    border: 1px solid $black;
                    font-size: .8rem;
                }
            }

            .multi-select-inputs {
                margin-top: -2.5rem;

                input[type="text"] {
                    width: 4rem;
                    height: 2rem;
                    border: 1px solid $black;
                    font-size: .8rem;
                    text-align: center;
                }

                input:last-child {
                    margin-left: 1rem;
                }	
            }
        }
    }
}